@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    max-height:100vh;
    max-width:100%;
    box-sizing: border-box;
    margin:0;
    font-family: 'Poppins';
    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    height:100%;
    padding: 20px;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.box{
    color:#d9d6e2;
    background: grey;
    height: auto;
    font-size: medium;
    display: flex;
    width: 30%;
    flex-direction: column;
}
.box-title{
    padding:0;
    width: 100%;
}

p{
    float: right;
    padding:5px;
    margin: 0;
    font-size: large;
}
.box:nth-child(1) p.title{
    background: lightpink;
}
.box:nth-child(2) p.title{
    background: palevioletred;
}
.box:nth-child(3) p.title{
    background: lightyellow;
}
.box-content{
    padding: 10px;
}
@media only screen and (max-width: 992px) {
    body{
        overflow-y:scroll !important;

    }
    body::-webkit-scrollbar{
        background: transparent;
        width: 1px;
    }
    .container{
    flex-wrap: wrap;
    }
    .box:nth-child(3){
      width: 100%;
        margin-top:10px;
    }
    .box{
      width:45%;
    }
}
@media only screen and (max-width: 767px) {
    .container{
       flex-wrap: nowrap;
        flex-direction: column;
    }
    .box{
        margin-top: 10px;
      width: 100%;
    }
}